.container {
    display: grid;
    grid-template-areas:
      "header"
      "content"
      "footer";
    grid-template-columns: 1fr;
    padding: 0;
    width: 100%;
    max-width: 100%;
    margin: 0;
    box-sizing: border-box;
  }
  .container > div {
    background-color: rgb(240, 240, 240);
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  .container > div.header {
    grid-area: header;
    text-align: center;
    background-color: rgb(240, 240, 240);
    width: 100%;
    box-sizing: border-box;
  }
  .container > div.menu {
    grid-area: menu;
  }
  .container > div.content {
    grid-area: content;
    width: 100%;
    box-sizing: border-box;
  }
  .container > div.footer {
    grid-area: footer;
    background-color: rgb(200, 200, 200);
    width: 100%;
    box-sizing: border-box;
  }
  .headerbutton {
    padding: 5px;
    color: rgb(20,20,20);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
  }
  .headerbuttonB {
    margin-right: 20px;
    white-space: nowrap;
  }
  .loginbutton {
    padding: 5px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    background-color: rgb(88, 155, 255);
    border-radius: 5px;
  }
  .button02 {
    padding: 5px;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: rgb(23, 28, 95);
    border-radius: 5px;
  }
  .texto01 {
    padding: 5px;
    color: rgb(23, 28, 95);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
  }
  .texto02 {
    padding: 5px;
    color: rgb(102, 102, 102);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }
  .texto03 {
    padding: 5px;
    color: rgb(63, 63, 63);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
  }
  .img-responsive{
    float:right;
    width:40%;
    max-width: 40%;
  }
  .textcontainer01{
    float:left;
    width:45%;
    max-width: 45%;
  }
  .headergroup01{
    grid-area: "header";
  }
  .footergroupA{
    width:20%;
    float:left;
  }
  .footergroupB{
    margin-left: 20%;
  }
  @media only screen and (max-width: 600px) {
    .container {
      display: grid;
      grid-template-areas:
        "header"
        "header2"
        "content"
        "img"
        "footer";
      grid-template-columns: 1fr;
      padding: 0;
      width: 100%;
      max-width: 100%;
      margin: 0;
      box-sizing: border-box;
    }
    .img-responsive{
      grid-area: "img";
      float:left;
      width:100%;
      max-width: 100%;
    }
    .textcontainer01{
      float:left;
      width:100%;
      max-width: 100%;
    }
    .texto01{
      text-align: center;
    }
    .texto02{
      text-align: center;
    }
    .headergroup01{
      grid-area: "header2";
      width:100%;
    }
    .headerbuttonB {
      width:100%;
      margin-right: 10px;
    }
    .footergroupA{
      width:20%;
      margin-right: 10%;
      float:left;
    }
    .footergroupB{
      margin-left: 0%;
    }
  }
