 <div class="container">
        <div class="header">
            <img class="img-responsive" style="float:left;height:100px" src="/images/Logomarca.PNG">
            <a class="buttonB" href="ADICIONARLINK" style="margin-right: 20px;">Home</a>
            <a class="buttonB" href="ADICIONARLINK" style="margin-right: 20px;">Preços</a>
            <a class="buttonB" href="ADICIONARLINK" style="margin-right: 20px;">Perguntas e respostas</a>
            <a class="buttonB" href="ADICIONARLINK" style="margin-right: 20px;">Funcionalidades</a>
            <a class="loginbutton" href="/login" style="float:right">Entrar</a>
        </div>
        <div class="content">
            <div>
                <div style="float:left;width:45%;">
                    <div class="texto01">
                        Gerencie sua clinica odontologica com facilidade.
                    </div>
                    <br>
                    <div class="texto02">
                        O software ajuda no gerenciamento de pacientes, agendamentos e prontuarios de forma simples e eficiente.
                    </div>
                    <br>
                    <a class="button02" href="ADICIONARLINK" >Agendar uma demonstração</a>
                </div>
                <br>
                <img class="img-responsive" style="float:right;width:40%" src="/images/DentistaPaginaInicial.PNG">
            </div>
        </div>
        <div class="footer">
        <div class="texto02" style="float:left;width:100%">DENTI:SIG</div>
        <div style="margin-left: 20%;">
        <div style="width:20%;float:left">
            <div class="texto02">Suporte</div>
            <br>
            <a class="texto03" href="ADICIONARLINK" >Pedir demonstração</a>
            <br>
            <a class="texto03" href="ADICIONARLINK" >Tire suas duvidas</a>
        </div>
        <div style="width:20%;float:left">
            <div class="texto02">Institudo local</div>
            <br>
            <a class="texto03" href="ADICIONARLINK" >Sobre nós</a>
            <br>
            <a class="texto03" href="ADICIONARLINK" >Blog</a>
        </div>
        <div style="width:20%;float:left">
            <div class="texto02">Produto</div>
            <br>
            <a class="texto03" href="ADICIONARLINK" >Planos e preços</a>
            <br>
            <a class="texto03" href="ADICIONARLINK" >Depoimentos</a>
            <br>
            <a class="texto03" href="ADICIONARLINK" >Recursos</a>
        </div>
        </div>
        </div>
      </div>
