 <div class="container">
        <div class="header">
            <img class="" style="float:left;height:100px" src="/images/Logomarca.PNG">
            <a class="loginbutton" href="/login" style="float:right">Entrar</a>
            <div class="headergroup01">
            <a class="headerbuttonB" href="ADICIONARLINK" >Home</a>
            <a class="headerbuttonB" href="ADICIONARLINK" >Preços</a>
            <a class="headerbuttonB" href="ADICIONARLINK" >Perguntas e respostas</a>
            <a class="headerbuttonB" href="ADICIONARLINK" >Funcionalidades</a>
            </div>
        </div>
        <div class="header2">
        </div>
        <div class="content">
            <div>
                <div class ="textcontainer01" >
                    <div class="texto01">
                        Gerencie sua clinica odontologica com facilidade.
                    </div>
                    <br>
                    <div class="texto02">
                        O software ajuda no gerenciamento de pacientes, agendamentos e prontuarios de forma simples e eficiente.
                    </div>
                    <br>
                    <a class="button02" href="ADICIONARLINK" >Agendar uma demonstração</a>
                </div>
                <br>
                <img class="img-responsive" src="/images/DentistaPaginaInicial.PNG">
            </div>
        </div>
        <div class="footer">
        <div class="texto02" >DENTI:SIG</div>
        <div class="footergroupB">
        <div class="footergroupA">
            <div class="texto02">Suporte</div>
            <br>
            <a class="texto03" href="ADICIONARLINK" >Pedir demonstração</a>
            <br>
            <a class="texto03" href="ADICIONARLINK" >Tire suas duvidas</a>
        </div>
        <div class="footergroupA">
            <div class="texto02">Institudo local</div>
            <br>
            <a class="texto03" href="ADICIONARLINK" >Sobre nós</a>
            <br>
            <a class="texto03" href="ADICIONARLINK" >Blog</a>
        </div>
        <div class="footergroupA">
            <div class="texto02">Produto</div>
            <br>
            <a class="texto03" href="ADICIONARLINK" >Planos e preços</a>
            <br>
            <a class="texto03" href="ADICIONARLINK" >Depoimentos</a>
            <br>
            <a class="texto03" href="ADICIONARLINK" >Recursos</a>
        </div>
        </div>
        </div>
      </div>
