<style>

    </style>
    <main>
    
        <div class="container">
            <div class="header">
                <img class="img-responsive" style="float:left;height:100px" src="/images/Logomarca.PNG">
                <button type="button" class="buttonB" style="margin-right: 20px;">Agenda</button>
                <button type="button" class="buttonB" style="margin-right: 20px;">Pacientes</button>
                <button type="button" class="buttonB" style="margin-right: 20px;">Finaceiro</button>
                <button type="button" class="buttonB" style="margin-right: 20px;">Estoque</button>
                <button type="button" class="buttonB" style="float:right"><img class="img-responsive" style="float:left;height:30px" src="/images/IconeConta.PNG">Conta</button></div>
            <div class="content">Conteudo</div>
            <div class="footer"><h4></h4></div>
          </div>
    
    </main>