<style>

    </style>
    <main>
    
        <div class="container">
            <div class="header">
                <img class="img-responsive" style="float:left;height:100px" src="/images/Logomarca.PNG">
                <a class="buttonB" href="/start-dentist/Agenda" style="margin-right: 20px;">Agenda</a>
                <a class="buttonB" href="/start-dentist/Pacientes" style="margin-right: 20px;">Pacientes</a>
                <a class="buttonB" href="/start-dentist/Finaceiro" style="margin-right: 20px;">Finaceiro</a>
                <a class="buttonB" href="/start-dentist/Estoque" style="margin-right: 20px;">Estoque</a>
                <a class="buttonB" href="/login" style="float:right"><img class="img-responsive" style="float:left;height:30px" src="/images/IconeConta.PNG">Conta</a></div>
            <div class="content"><component-conteudo></div>
            <div class="footer"><h4></h4></div>
          </div>
    
    </main>