<style>


</style>
<main>
<body>
    <div class="container">
        <div class="header">
            <img class="img-responsive" style="float:left;height:100px" src="/images/Logomarca.PNG">
            <a class="buttonB" href="/start-dentist/agenda" style="margin-right: 20px;">Agenda</a>
            <a class="buttonB" href="/start-dentist/pacientes" style="margin-right: 20px;">Pacientes</a>
            <a class="buttonB" href="/start-dentist/finaceiro" style="margin-right: 20px;">Finaceiro</a>
            <a class="buttonB" href="/start-dentist/estoque" style="margin-right: 20px;">Estoque</a>
            <a class="buttonB" href="/login" style="float:right"><img class="img-responsive" style="float:left;height:30px" src="/images/IconeConta.PNG">Conta</a>
        </div>
        <div class="content">
            
            <div class="calendar-container">
                <header class="calendar-header">
                    <p class="calendar-current-date"></p>
                    <div class="calendar-navigation">
                        <span id="calendar-prev" 
                              class="material-symbols-rounded">
                              &#8656;
                        </span>
                        <span id="calendar-next" 
                              class="material-symbols-rounded">
                              &#8658;
                        </span>
                    </div>
                </header>
        
                <div class="calendar-body">
                    <ul class="calendar-weekdays">
                        <li>Dom</li>
                        <li>Seg</li>
                        <li>Ter</li>
                        <li>Qua</li>
                        <li>Qui</li>
                        <li>Sex</li>
                        <li>Sab</li>
                    </ul>
                    <ul class="calendar-dates"></ul>
                </div>
            </div>
            <div style="float:left;background: rgb(250, 250, 250);width: 120px;border-radius: 10px;margin:5px" class="Hours-container">
              
              <div style="width:100%;text-align:center">Hora</div>
              <ol>
              <li class ="Hour-button" data-tarefas="sss" data-hour="6" data-minute="00">06:00</li>
              <li class ="Hour-button" data-tarefas="" data-hour="6" data-minute="30">06:30</li>
              <li class ="Hour-button" data-tarefas="" data-hour="7" data-minute="00">07:00</li>
              <li class ="Hour-button" data-tarefas="" data-hour="7" data-minute="30">07:30</li>
              <li class ="Hour-button" data-tarefas="" data-hour="8" data-minute="00">08:00</li>
              <li class ="Hour-button" data-tarefas="" data-hour="8" data-minute="30">08:30</li>
              <li class ="Hour-button" data-tarefas="" data-hour="9" data-minute="00">09:00</li>
              <li class ="Hour-button" data-tarefas="" data-hour="9" data-minute="30">09:30</li>
              <li class ="Hour-button" data-tarefas="" data-hour="10" data-minute="00">10:00</li>
              <li class ="Hour-button" data-tarefas="" data-hour="10" data-minute="30">10:30</li>
              <li class ="Hour-button" data-tarefas="" data-hour="11" data-minute="00">11:00</li>
              <li class ="Hour-button" data-tarefas="" data-hour="11" data-minute="30">11:30</li>
              <li class ="Hour-button" data-tarefas="" data-hour="12" data-minute="00">12:00</li>
              <li class ="Hour-button" data-tarefas="" data-hour="12" data-minute="30">12:30</li>
              <li class ="Hour-button" data-tarefas="" data-hour="13" data-minute="00">13:00</li>
              <li class ="Hour-button" data-tarefas="" data-hour="13" data-minute="30">13:30</li>
              <li class ="Hour-button" data-tarefas="" data-hour="14" data-minute="00">14:00</li>
              <li class ="Hour-button" data-tarefas="" data-hour="14" data-minute="30">14:30</li>
              <li class ="Hour-button" data-tarefas="" data-hour="15" data-minute="00">15:00</li>
              <li class ="Hour-button" data-tarefas="" data-hour="15" data-minute="30">15:30</li>
              <li class ="Hour-button" data-tarefas="" data-hour="16" data-minute="00">16:00</li>
              <li class ="Hour-button" data-tarefas="" data-hour="16" data-minute="30">16:30</li>
              <li class ="Hour-button" data-tarefas="" data-hour="17" data-minute="00">17:00</li>
              <li class ="Hour-button" data-tarefas="" data-hour="17" data-minute="30">17:30</li>
              <li class ="Hour-button" data-tarefas="" data-hour="18" data-minute="00">18:00</li>
              <li class ="Hour-button" data-tarefas="" data-hour="18" data-minute="30">18:30</li>
              <li class ="Hour-button" data-tarefas="" data-hour="19" data-minute="00">19:00</li>
              <li class ="Hour-button" data-tarefas="" data-hour="19" data-minute="30">19:30</li>
              <li class ="Hour-button" data-tarefas="" data-hour="20" data-minute="00">20:00</li>
              </ol>
            </div>
            <div style="float:right;background: rgb(250, 250, 250);width: 60%;height:100%;border-radius: 10px;margin:5px">
            <div id ="Agenda" style="width:100%">Monstrando conteudo agendado para:</div>
            <input id ="AgendaInput" type="text" style="width:100%;height: 80%;">
            <button id="EditButton" class="BlueButton" style="color:rgb(250, 250, 250);background: rgb(0, 0, 250);border-radius: 10px;padding: 5px;margin:5px">Salvar</button>
            </div>

        </div>
        <div class="footer"><h4></h4></div>
      </div>
<script src="/javascripts/Calendario.js"></script>
      <!--
<script>
let date = new Date();
let year = date.getFullYear();
let month = date.getMonth();

const day = document.querySelector(".calendar-dates");
const currdate = document.querySelector(".calendar-current-date");
const prenexIcons = document.querySelectorAll(".calendar-navigation span");

const months = [
  "Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho",
  "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"
];

let clickedDay = null;
let selectedDayElement = null;

const manipulate = () => {
  let dayone = new Date(year, month, 1).getDay();
  let lastdate = new Date(year, month + 1, 0).getDate();
  let dayend = new Date(year, month, lastdate).getDay();
  let monthlastdate = new Date(year, month, 0).getDate();

  let lit = "";

  for (let i = dayone; i > 0; i--) {
    lit += `<li class="inactive">${monthlastdate - i + 1}</li>`;
  }

  
  for (let i = 1; i <= lastdate; i++) {
    let isToday = (i === date.getDate()
      && month === new Date().getMonth()
      && year === new Date().getFullYear()) ? "active" : "";

    let highlightClass = (clickedDay === i) ? "highlight" : "";

    lit += `<li class="${isToday} ${highlightClass}" data-day="${i}">${i}</li>`;
  }


  for (let i = dayend; i < 6; i++) {
    lit += `<li class="inactive">${i - dayend + 1}</li>`;
  }

  currdate.innerText = `${months[month]} ${year}`;
  day.innerHTML = lit;

  addClickListenersToDays();
};


function addClickListenersToDays() {
  const allDays = day.querySelectorAll('li:not(.inactive)');
  allDays.forEach(li => {
    li.addEventListener('click', () => {
      if (selectedDayElement) {
        selectedDayElement.classList.remove('highlight');
      }

      li.classList.add('highlight');
      selectedDayElement = li;

      clickedDay = parseInt(li.getAttribute('data-day'));

      console.log('Clicked day:', clickedDay);
    });
  });
}

manipulate();

prenexIcons.forEach(icon => {
  icon.addEventListener("click", () => {
    month = icon.id === "calendar-prev" ? month - 1 : month + 1;

    if (month < 0 || month > 11) {
      date = new Date(year, month, new Date().getDate());
      year = date.getFullYear();
      month = date.getMonth();
    } else {
      date = new Date();
    }

    clickedDay = null;
    selectedDayElement = null;

    manipulate();
  });
});

</script>
-->
</body>
</main>
