.container {
    display: grid;
    grid-template-areas:
      "header header"
      "content content"
      "footer footer";
    grid-template-columns: 1fr 5fr;
    padding: 5px;
  }
  .container > div {
    background-color: rgb(200, 200, 200);
    padding: 10px;
  }
  .container > div.header {
    grid-area: header;
    text-align: center;
    background-color: rgb(240, 240, 240);
  }
  .container > div.menu {
    grid-area: menu;
  }
  .container > div.content {
    grid-area: content;
  }
  .container > div.footer {
    grid-area: footer;
  }
  .buttonB {
    padding: 5px;
    color: rgb(20,20,20);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    border: 5px solid #000;
    border-style:solid !important;
    border-width: 3 !important;
    border-radius: 5px !important;
    border-color: rgb(20,20,20) !important;
  }

  .calendar-container {
    background: rgb(250, 250, 250);
    width: 320px;                
    border-radius: 10px;
    float: left;
    margin:5px
}

.calendar-container header {
    display: flex;
    align-items: center;
    padding: 15px 20px 8px;     
    justify-content: space-between;
}

header .calendar-navigation {
    display: flex;
}

header .calendar-navigation span {
    height: 30px;              
    width: 30px;
    margin: 0 2px;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    user-select: none;
    color: #aeabab;
    font-size: 1.4rem;          
}

.calendar-navigation span:last-child {
    margin-right: -8px;
}

header .calendar-navigation span:hover {
    background: #f2f2f2;
}

header .calendar-current-date {
    font-weight: 500;
    font-size: 1.2rem;        
}

.calendar-body {
    padding: 10px;     
}

.calendar-body ul {
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    text-align: center;
}

.calendar-body .calendar-dates {
    margin-bottom: 10px;    
    width: 90%;
}

.calendar-body li {
    width: calc(100% / 7);
    height: 30px;               
    line-height: 30px;          
    font-size: 0.9rem;          
    color: rgb(0, 0, 0);
    margin-top: 20px;           
    position: relative;
    z-index: 1;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
}

.calendar-body .calendar-weekdays li {
    cursor: default;
    font-weight: 500;
    font-size: 0.85rem;         
}

.calendar-dates li.inactive {
    color: rgb(100,100,100);
    cursor: default;
}

.calendar-dates li.active {
    color: #fff;
}
.calendar-dates li::before {
    position: absolute;
    content: "";
    z-index: -1;
    top: 50%;
    left: 50%;
    width: 30px;             
    height: 30px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.calendar-dates li.active::before {
    background: #6964ff;
}

.calendar-dates li:not(.active):not(.highlight):hover::before {
    background: #858484;
}

.calendar-dates li.highlight {
    background: transparent !important;          
    border: 2px solid rgb(0, 255, 0) !important;       
    border-radius: 50%;                           
    position: relative;
    z-index: 10;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: calc(100% / 7);
}
.Hour-Free{
    width: 100%;
    float:left;
    text-align:center;
    background-color: #fff;
    cursor: pointer;
}
.Hour-Free:hover{
    background: #858484;
}
.selectedhour{
    border: 2px solid rgb(0, 255, 0) !important;    
    border-radius: 50%;                           
}
.Hour-Busy{ /* Usar este style para horarios com alguma tarefa*/
    background:rgb(255, 255, 0)
}
.Hour-Busy:hover{
    background: rgb(120,120,0)
}
.BlueButton{
    color:rgb(250, 250, 250);
    background: rgb(0, 0, 250);
    border-radius: 10px;
    padding: 5px;
    margin:5px
}
.BlueButton:hover{
    background: rgb(0, 0, 150);
}
.BlueButton:focus{
    background: rgb(250, 250, 250);
}
