<style>


</style>
<main>
<body>
    <div class="container">
        <div class="header">
            <img class="img-responsive" style="float:left;height:100px" src="/images/Logomarca.PNG">
            <a class="buttonB" href="/start-dentist/Agenda" style="margin-right: 20px;">Agenda</a>
            <a class="buttonB" href="/start-dentist/Pacientes" style="margin-right: 20px;">Pacientes</a>
            <a class="buttonB" href="/start-dentist/Finaceiro" style="margin-right: 20px;">Finaceiro</a>
            <a class="buttonB" href="/start-dentist/Estoque" style="margin-right: 20px;">Estoque</a>
            <a class="buttonB" href="/login" style="float:right"><img class="img-responsive" style="float:left;height:30px" src="/images/IconeConta.PNG">Conta</a>
        </div>
        <div class="content">
            
            <div class="calendar-container">
                <header class="calendar-header">
                    <p class="calendar-current-date"></p>
                    <div class="calendar-navigation">
                        <span id="calendar-prev" 
                              class="material-symbols-rounded">
                              &#8656;
                        </span>
                        <span id="calendar-next" 
                              class="material-symbols-rounded">
                              &#8658;
                        </span>
                    </div>
                </header>
        
                <div class="calendar-body">
                    <ul class="calendar-weekdays">
                        <li>Dom</li>
                        <li>Seg</li>
                        <li>Ter</li>
                        <li>Qua</li>
                        <li>Qui</li>
                        <li>Sex</li>
                        <li>Sab</li>
                    </ul>
                    <ul class="calendar-dates"></ul>
                </div>
            </div>


        </div>
        <div class="footer"><h4></h4></div>
      </div>
<script src="/javascripts/Calendario.js"></script>
      <!--
<script>
let date = new Date();
let year = date.getFullYear();
let month = date.getMonth();

const day = document.querySelector(".calendar-dates");
const currdate = document.querySelector(".calendar-current-date");
const prenexIcons = document.querySelectorAll(".calendar-navigation span");

const months = [
  "Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho",
  "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"
];

let clickedDay = null;
let selectedDayElement = null;

const manipulate = () => {
  let dayone = new Date(year, month, 1).getDay();
  let lastdate = new Date(year, month + 1, 0).getDate();
  let dayend = new Date(year, month, lastdate).getDay();
  let monthlastdate = new Date(year, month, 0).getDate();

  let lit = "";

  for (let i = dayone; i > 0; i--) {
    lit += `<li class="inactive">${monthlastdate - i + 1}</li>`;
  }

  
  for (let i = 1; i <= lastdate; i++) {
    let isToday = (i === date.getDate()
      && month === new Date().getMonth()
      && year === new Date().getFullYear()) ? "active" : "";

    let highlightClass = (clickedDay === i) ? "highlight" : "";

    lit += `<li class="${isToday} ${highlightClass}" data-day="${i}">${i}</li>`;
  }


  for (let i = dayend; i < 6; i++) {
    lit += `<li class="inactive">${i - dayend + 1}</li>`;
  }

  currdate.innerText = `${months[month]} ${year}`;
  day.innerHTML = lit;

  addClickListenersToDays();
};


function addClickListenersToDays() {
  const allDays = day.querySelectorAll('li:not(.inactive)');
  allDays.forEach(li => {
    li.addEventListener('click', () => {
      if (selectedDayElement) {
        selectedDayElement.classList.remove('highlight');
      }

      li.classList.add('highlight');
      selectedDayElement = li;

      clickedDay = parseInt(li.getAttribute('data-day'));

      console.log('Clicked day:', clickedDay);
    });
  });
}

manipulate();

prenexIcons.forEach(icon => {
  icon.addEventListener("click", () => {
    month = icon.id === "calendar-prev" ? month - 1 : month + 1;

    if (month < 0 || month > 11) {
      date = new Date(year, month, new Date().getDate());
      year = date.getFullYear();
      month = date.getMonth();
    } else {
      date = new Date();
    }

    clickedDay = null;
    selectedDayElement = null;

    manipulate();
  });
});

</script>
-->
</body>
</main>