<app-header class="fixed-header"></app-header>

<div class="page-container">
  <div class = "left-part">
    <mat-calendar class="calendar"></mat-calendar>
  <details class = "colapsable">
    <summary>Agenda</summary>
    <p *ngFor = "let dentista of dentistas"
     (click)= "selecionarDentista(dentista)" 
     [ngClass] = "{ 'selecionado': dentista === dentistaSelecionado}"
     >
     {{dentista.nome}} 
    </p>
  </details>
  </div>
  

  <div class="full-calendar-container">
  <full-calendar 
    *ngIf="calendarOptions" 
    [options]="calendarOptions"
  ></full-calendar>
  <button class="botao-add-consulta" (click)="abrirPopupConsulta()">+</button>
</div>
</div>
