.calendar {
  margin-top: 70px;
  background-color: white;
  height: 300px;
  width: 216px;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.page-container {
  display: flex;
  background-color: #f0f0f0;
  min-height: 100vh;
  padding: 1rem;
  gap: 2rem; 
}

.full-calendar-container {
  margin-top: 70px;
  flex-grow: 1; 
  background-color: white;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

::ng-deep .fc-timegrid-slot {
  height: 30px !important; // aumenta a altura da célula
}